body {
  background-image: url("../images/black.jpg");

}

#header {
  position: relative;
  margin-top: 40px;
  border-radius: 10px 10px 0px 0px; 
}

#header h1 {
  position: absolute;
  left: 420px;
  top: 10px;
  font-size: 3em;
  font-family: 'Devonshire', cursive;
  color: #E35335;
}

#header a#logo1 img {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}

#header #toplink {
  position: absolute;
  text-decoration: none;
  top:-34px;
  right: 11px;
  color: white;
  font-size: 1.8em;
}
